.vscode/**
.vscode-test/**
src/**
test/**
out/test/**
node_modules/**
docs/**
images/screenshots/**
resources/icons/*.svg
.gitignore
.github/**
tsconfig.json
**/*.map
.eslintrc.json
.specstory/**
.claude/**
.cursorindexingignore
.cursorignore
*.vsix
**/*.ts
!out/src/**/*.js
